body{
    margin:0;
    padding:0;
    overflow: hidden;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 91, 91);
    font-size: 14px;
}

.upperright a{
    margin-top: 10px;
    display: block;
    float: right;
    padding: 5px 10px;
    margin-right: 5px;
}
#app{
    opacity: 0.5;
    position: relative;
    top:-5px;
}
#sign{
    position: relative;
    right:14px;
    margin-left:10px;
    background-color: #4285f4;
    color: white;
    border-radius: 3px;
}
.upperleft a{
    margin-top: 10px;
    display: block;
    float: left;
    padding: 5px 10px;
}
a{
    text-decoration: none;
    padding-right:5px;
}
a:hover{
    text-decoration: underline;
}
#logo{
    position:relative;
    left:14%;    
}
#google{
    background-color: none;
    border:1px solid darkgray;
    border-radius: 20px;
    line-height: 45px;
    width:45%;
    z-index:0;
    min-width: 200px;
    
}
.searcharea{  
    position:absolute;
    top:10%;
    margin:0 26%;
    max-width:inherit;
    width:100%;
}
#glass{
    
    position: relative;
    left: 30px;
    top:5px;
    z-index:1;
    width:20px;
}
#micro{
    position: relative;
    right: 35px;
    top:8px;
    z-index:1;
    width:20px;
}
.footer1{
    position:relative;
    bottom:0;
    left:0;
    margin: 15px 10px;
    padding-right: 5px;
}
.footer2{
    position:absolute;
    bottom:0;
    right:0;
    margin: 15px 10px;
    padding-right: 5px ;
}
.turkey{
    position:relative;
    left:0;
    margin-left: 10px;
    border-bottom: 1px solid rgb(197, 196, 196);
}
footer{
    position: absolute;
    bottom:0;
    background-color: #f2f2f2;
    width:100%;
}
.buttons{
    position:relative;
    left:20px;
    margin: 40px 12%;
    
    
}
#button{
    height: 36px;
    padding: 0 17px;
    border-radius: 3px;
    border-style: none;
    background-color: #f8f9fa;
    color: rgb(92, 91, 91);
}
#button2{
    height: 36px;
    padding: 0 17px;
    border-radius: 3px;
    border-style: none;
    background-color: #f8f9fa;
    color: rgb(92, 91, 91);
}
.last a{
    cursor: pointer;
    color:blue;
}
.last{
    position: relative;
    right:20px;
    font-size: 16px;
    margin-top: 20px;
}