@import "variables", "reset";

body{
    border: 0px;
    margin: 0;
    font-size: $font-size;
    background-color: $background-color;
    color:$color;
    size: $size;
}

p { 
    @if $size == 10 {
        background-color: bisque;
        padding: 10px;
        margin: 15px;
    }
    @else if $size > 20px{
        background-color: aqua;
        padding: 20px;
    }
    @else {
        background-color: aliceblue;
        padding: 5px;
    }

}

$i : 10;
@while $i > 0 {
    .border-#{i} { 
        border: 5px * $i;
    }
    $i: $i - 2;
}

@for $i from 1 to 5 {
    .item-#{$i} {
        height:  10px * $i;
        padding: 5px * $i;
        color: #111 * $i;
    }
}

$array: 1, 2, 3, 4, 5;
@each $i in $array {
    .item-#{$i} {
        margin: $i * 10px;
        color: #111 * $i;
    }
}

$blue: #111;
$bisque: #222;
$red: #333;

$array: $blue, $bisque, $red;

@for $i from 1 through 3 {
    .item-#{$i} {
        background-color: nth($array, $i);
        margin: 5px;
    }
}

@mixin mybox($color, $height) {
    color: green;
    height: 15px;
    border: 15px solid;    
}

.liste {
    @include mybox($color, $height:10px)
}

.kutu { 
    border: 5px solid black;
    padding: 5px;
    color: blueviolet;
}

.kutu1 {
    @extend .kutu;
    border-color: antiquewhite;
}